.tex {
    vertical-align: -4px;
    font-size: 16px;
}

.android {
    background: slategray;
    border-radius: 100%;
}

.t4 p {
    padding-top: 20px;
    background: #ED1C24;
    color: #ffffff;
    text-align: center;
    width: 100px;
    font-family: Tahoma, siref;
}

.t5 h1 {
    color: #630;
}

.t5 h2 {
    color: #834c15;
}

.t5 h3 {
    color: #000000;
}

.t7 table {
    border: black solid 1px;
}

.t7 td {
    width: 100px;
    border: black solid 1px;
}

.centre {
    text-align: center;
}

.t8 {
    border: 1px solid black;

}

.t8_1 {
    background: darkcyan;
    color: white;
    margin-bottom: -20px;
    margin-top: 0;
}

.t8_2 {
    padding: 0;
    background: #4d61ff;
    margin-bottom: 0;
    padding-left: 10px;
}

.t12 {
    background: black;

}

.a1 {
    color: #80e50a;
}

.a2 {
    color: #ff0061;
}

.a3 {
    color: darkcyan;
}

.t13 {
    width: 500px;
    height: 300px;
    border: 20px solid;
    -webkit-border-image: url("../assets/img/background.jpg") 10 repeat repeat;
}

.tableT16 {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 50px;
    border: 2px black solid;
}

.tableT16 td {
    border: 1px black solid;
    text-align: center;
    vertical-align: top;
}

td.left {
    width: 150px;
}

.t17 {
    font: 12pt "Times New Roman", serif;
    color: black;
    background: white;
}

.t17 h1 {
    color: #4d61ff;
}

.t17 h2 {
    color: chocolate;
}

.t18 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.t18_1 {
    width: 300px;
    margin: auto;

}

.date {
    padding-left: 60px;
}

.p2 {
    padding-left: 60px;
}

.p3 {
    padding-left: 120px;
}

.p4 {
    padding-left: 150px;
}

.t18_1p {
    line-height: 20px;
}

.t19 {
    position: relative;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.t19_1 {
    position: absolute;
    background: #9d0303;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 90px;
    top: 40px;
}

.t20 table {
    width: 100%;
}

.t20 td {
    border: 1px solid black;
}

.step1 {
    background: red;
    color: white;
}

.step2 {
    background: orange;
    color: grey;
}

.step3 {
    background: yellow;
    color: black;
}

.t21 {
    background: #0a520d;
    color: white;
    width: 695px;
}

.t21 h1 {
    padding-top: 15px;
}

:root {;
}

.t22_1 {
    background: black;
    width: 64px;
    height: 64px;

}

.t22_1:hover {
    background: orange;
}

.t22_2 {
    background: #4d61ff;
    width: 64px;
    height: 64px;

}

.t22_2:hover {
    background: orange;
}

.t22_3 {
    background: black;
    width: 64px;
    height: 64px;
}

.t22_3:hover {
    background: orange;
}

.t22_4 {
    background: #4d61ff;
    width: 64px;
    height: 64px;

}

.t22_4:hover {
    background: orange;

}

.t22_5 {
    background: black;
    width: 64px;
    height: 64px;

}

.t22_5:hover {
    background: orange;
}

.t23 table, tr, td {
    background: red;
    width: 30px;
    height: 30px;

}



.battery1 {
    position: relative;
    width: 140px;
    height: 54px;
    border: 2px solid black;
}

.battery1_1 {
    position: absolute;
    width: 10px;
    height: 24px;
    background: black;
    top: 15px;
    left: 140px;

}

.background1 {
    position: absolute;
    width: 35%;
    height: 100%;
    background: red;

}

.battery2 {
    position: relative;
    width: 140px;
    height: 54px;
    border: 2px solid black;
}

.battery2_1 {
    position: absolute;
    width: 10px;
    height: 24px;
    background: black;
    top: 15px;
    left: 140px;

}

.background2 {
    position: absolute;
    width: 70%;
    height: 100%;
    background: orange;

}

.battery3 {
    position: relative;
    width: 140px;
    height: 54px;
    border: 2px solid black;
}

.battery3_1 {
    position: absolute;
    width: 10px;
    height: 24px;
    background: black;
    top: 15px;
    left: 140px;

}

.background3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: greenyellow;

}

div.battery1 {
    display: block;
    margin: 10px;
}

div.battery2 {
    margin: 10px;
}

div.battery3 {
    margin: 10px;
}

.t25 {
    background: #0a520d;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(#ffffff,white);
}

.button_t26 {
    background: pink;
    border-radius: 30px;
    width: 80px;
    height: 20px;
}

.button_t27_1 {
    background: linear-gradient(dodgerblue, cornflowerblue);
    border-radius: 10px;
}

.button_t27_2 {
    background: radial-gradient(#35ff1e, cornflowerblue);
    border-radius: 5em;
}

.button_t27_3 {
    background: linear-gradient(#9d077a, #522a39);
    border-radius: 5pt;
}

.button_t27_4 {
    background: linear-gradient(#e4f502, #f5073f);
    border-radius: 5%;
}

.button_t27_5 {
    background: linear-gradient(#00ffb9, #005bff);
    border-radius: 5fr;
}

.t28_1 fieldset {
    background: #d28850;
}

.t28_1 legend {
    color: #000000;
    font-family: Tahoma, serif;
}

.t29 {
    width: 800px;

    border-left: yellow 10px solid;
    border-top: yellow 10px solid;
    border-right: orange 10px solid;
    border-bottom: orange 10px solid;
}

.t29_1 {
    font-size: 40pt;
    border-left: orange 10px solid;
    border-top: orange 10px solid;
    border-right: yellow 10px solid;
    border-bottom: yellow 10px solid;

}

.t29_1 p {
    padding-left: 60px
}

.t30 {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 380px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.circles {
    position: absolute;
    top: 350px;
    left: 240px;
}

.circles input[type='radio'] {
    width: 15px;
    height: 15px;
}

.t31 {
    width: 100%;
    height: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 2px solid black;
    border-radius: 30px;
    background: radial-gradient(dimgray, #2d2d2d);;
}

.t31_1 {
    width: 40%;
    height: inherit;
    background: radial-gradient(#005bff, #3fa1ff);
    border-radius: 30px;
}



.t32, .t32 span {
    font-size: 40pt;
    border-top: 1px solid black;
}

/*.t33 {*/
/*    position: relative;*/
/*}*/

.t33_1 {

    width: 208px;
    height: 208px;
    background: black;
    border: 3px solid #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.t33_2 {
    left: 104px;
    top: 104px;
    width: 208px;
    height: 208px;
    background: white;
    border: 3px solid grey;
    margin-left: 104px;
    margin-top: -104px;
}





















