.block1 {
    position: relative;
    height: 500px;
    width: 100%;
    border: 3px red solid;
}

.block2 {
    left: 25%;
    right: 25%;
    position: absolute;
    height: 250px;
    width: 50%;
    border: 3px solid black;

}

.block3 {
    position: relative;
    height: 250px;
    width: 100%;
    border: 3px solid #80e50a;
}

.redBlock {
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
}

.greenBlock {
    width: 100px;
    height: 100px;
    background: green;
    position: relative;
    margin: 0 0 -150px 50px;
    z-index: 1;
}
:root {
    --myDisplay: list-item;
    --myColour: red;
}

.list {
    background: var(--myColour);
    font-size: 20pt;
}

.numeric{
    display: var(--myDisplay);
    list-style-type: armenian;
}

.figures {
    display: var(--myDisplay);
    list-style-type: square;
}

li {
    list-style-position: inside;
}

.listImg  {
    font-size: 40px;
    list-style-image: url("../assets/img/marker.png");
    list-style-type: square;
}

.listStyleContainer {
    font-size: 40px;
    list-style: circle inside;

}

.link {
    font-size: 40pt;
    padding: 10px 20px;
    background: #F1F1F1;
    color: #000;
}

.link:hover {
    background: #4d61ff;
    -webkit-transition: background 1s ease;
    -o-transition: background 1s ease;
    -moz-transition: background 1s ease;

}

.linkSpan {
    font-size: 40pt;
}

.catImg {
    margin-left: 100px;
    margin-top: 100px;
    height: 200px;
    width: 300px;
    transform:  rotate(20deg);
}