@font-face {
font-family: "NeutralFace";
src: url("../assets/MyFonts/NeutralFace.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NeutralFaceBold";
    src: url("../assets/MyFonts/NeutralFace-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

div {
    width: 910px;
    margin: auto;
    border: 1px #0022ff solid;
    text-align: center;
}

p {
    font-size: 30px;
}

p.letter:first-letter {
    font-size: 30px;
    color: red;
}

p.word:first-line {
    color: #80e50a;
}

p.beforeP:before {
    content: '- ';
}

p.afterP:after {
    content: '!';
}

p.inheritance {
    color: red;
}

b.firsBoldText {
     color: #000000;
 }

h1 {
    color: darkturquoise !important;
}

h1 {
    color: black;
}

div.firstBlock {
    background: gold;
    width: 500px;
    height: 500px;
    margin-left: 200px;


}

div.secondBlock {
    background: #DDDDDD;
    width: 250px;
    height: 250px;
    margin-left: 125px;

}

div img {
    height: 125px;
    width: 125px;
    margin-left: 62.5px;
    margin-top: 50px;

}

div.lightcoral p.numbers {
 color: rgb(33, 12, 255);
}

div p.percent {
    color: rgb(13%, 5%, 100%) ;
}

div p.sixteen {
    color: #210CFF;
}

div.lengthUnitsBlock {
    margin-left: 0 ;
    font-size: 30pt;
    text-align: center;
    background: linear-gradient(to right, #ffffff, #ff0057);
}

div p.f1 {
    font-size: 30px;
    font-family: serif;
}

div p.f2 {
    font-size: 30px;
    font-family: monospace;
}

div p.f3 {
    font-size: 30px;
    font-family: cursive;
}

div p.f4 {
    font-size: 30px;
    font-family: Impact, serif;
}

div p.f5 {
    font-size: 30px;
    font-family: Tahoma, serif;
}

div p.n1 {
    font-style: normal;
}

div p.n2 {
    font-style: italic;
}

div p.n3 {
    font-style: oblique;
}

p.NeutralFace {
    font-family: NeutralFace, cursive;
}

p.NeutralFaceBold {
    font-family: NeutralFaceBold, cursive;
}

p.googleFont {
    font-size: 60px;
    font-family: 'Estonia', cursive;
}

div.textIndent p.redL {
    margin-left: 0 ;
    text-indent: 100px;
    background: red;
}

p.lineH{
    line-height: 120px;
    background: lightseagreen;
    font-family: Corbel, serif;
}

p.wordS {
    word-spacing: 40px;
}

p.letterS {
    letter-spacing: 30px;
}

p.textT {
    text-transform: uppercase;
}

p.text1 {
    text-decoration: line-through;
}
p.text2 {
    text-decoration: overline;
}
p.text3 {
    text-decoration: underline;
}




