.example {
    width: 100px; /* ширина */
    padding: 20px; /* отступы внутри */
    background: #0a520d; /* фон */
    color: #ffffff; /* цвет текста */
    text-align: center; /* размещение текста */
}

h1, p {
    color: #ff0000;
    font-size: 20px;
    text-align: center;
}

.bold {
    color: black;
    font-weight: bold;
}

.colour, .bold {
    color: #ec2121;
    font-weight: 900;
}

#styleID {
    color: aqua;
}

div.firstDiv {
    height: 300px;
    width: 300px;
    background: #ec2121;

}

div.secondDiv {
    background: aqua;
    height: 200px;
    width: 200px;

}

form.formTag{
    padding-left: 40%;
}

a[target] {
    color: #e400ff;
}

a[title] {
    color: darkorange;
}

a[target][title]{
    color: cornflowerblue;
}

a[target='_blank'] {
    color: black;
}

p span {
    color: lightsteelblue;
    font-weight: bold;
}

h1 span {
    color: navajowhite;
    font-weight: bolder;
}

p b span {
    color: lightseagreen;
}

a > b {
    color: black;
}

div.text p span {
    color: #80e50a;
}

a.myLink {
    color: black;
}

a.myLink:visited {
    color: gold;
}

p:first-child { color: red }
b:first-child { color: green }